:root {
  --black: #0b0c10;
  --elephant: #1f2833;
  --cement: #c5c6c7;
  --cyan: #66fcf1;
  --darkpink: #946988;
  ---dsblue: #45a29e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ce-chat-engine {
  display: none !important;
}

.app {
  width: 100vw;
  color: var(--black);
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--darkpink);
}

.auth-form {
  width: 500px;
  padding: 25px;
  max-width: 100%;
  border-radius: 10px;
  background-color: var(--cement);
  box-shadow: 0px 0px 10px var(--black);
}

.auth-form label {
  display: block;
  margin-bottom: 25px;
}

.auth-form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--black);
  background-color: #d2d2d2;
}

.auth-form button {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: var(--cement);
  cursor: pointer;
  background-color: var(---dsblue);
}

.auth-form button:hover {
  box-shadow: 0px 0px 3px black;
}

.auth-form button:disabled {
  color: darkgray;
  cursor: not-allowed;
  background-color: #808080;
}

.auth-link-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.auth-link {
  color: #1515dd;
  cursor: pointer;
  font-weight: bold;
}

.auth-link:hover {
  color: var(---dsblue);
}

.error {
  color: #ec3c06;
  font-size: 16px;
  background-color: #000000;
  width: fit-content;
}

.error.server-error {
  margin-top: 8px;
  padding: 8px;
}

.chats-loading {
  height: 100%;
  position: relative;
}

.chat-container {
  flex: 1;
  height: 100%;
  display: flex;
}

.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #64485c;
}

.no-chat-selected {
  width: 80%;
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  padding: 25px;
  color: var(--cyan);
  align-self: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--elephant);
  box-shadow: 0px 0px 3px black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-chat-selected-icon {
  width: 75px;
  height: auto;
  margin-right: 25px;
}

.left-rail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 300px;
  background-color: var(--darkpink);
}

.left-rail-header {
  height: 100px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  background-color: var(--elephant);
  box-shadow: 0px 0px 2px black;
}

.left-rail-header .empty-avatar {
  width: 50px;
  height: 50px;
}

.chat-list-container {
  overflow-y: auto;
  height: calc(100% - 150px);
}

.no-chats-yet {
  padding: 15px;
}

.create-chat-button {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  color: var(--cyan);
  font-size: 20px;
  cursor: pointer;
  border-radius: 0px;
  background-color: var(--elephant);
}

.chat-list-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
}

.empty-avatar {
  width: 48px;
  height: 48px;
  display: flex;
  font-size: 24px;
  font-style: normal;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #161616;
  color: var(--cement);
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-list-item {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}

.chat-list-item-content {
  flex: 1;
  display: flex;
  color: #f2f2f2;
  align-items: center;
  justify-content: flex-start;
}

.chat-list-item .selected,
.chat-list-item:hover {
  background-color: #64485c;
}

.selected-chat-item {
  background-color: rgba(100, 72, 92, 0.5);
}

.chat-item-delete {
  width: 35px;
  cursor: pointer;
  text-align: right;
  visibility: hidden;
}

.chat-list-item:hover .chat-item-delete {
  visibility: visible;
}

.chat-item-delete:hover {
  color: #cd0000;
}

.chat-list-preview {
  margin-left: 10px;
}

.preview-message {
  font-size: 12px;
}

.preview-username {
  font-size: 16px;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-toolbar {
  display: flex;
  min-height: 50px;
  color: #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  background-color: var(--darkpink);
  justify-content: space-between;
}

.chat-header-text {
  color: var(--elephant);
  font-size: 16px;
  font-weight: bold;
}

.add-user-icon {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 16px;
  font-size: large;
}

.add-user-icon::before {
  content: 'Add New User!';
  transform: translateY(70%) translateX(70%);
  font-size: 8px;
  cursor: default;
}

.user-search .input {
  width: 100%;
}

.user-search .input .prompt,
.user-search .input .prompt:focus {
  border: none;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: #1f2026;
  border-radius: 0px !important;
}

.user-search .input i {
  color: white !important;
}

.chat-controls {
  width: 100%;
  margin: 25px;
  margin-top: 15px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  width: calc(100% - 50px);
  background-color: #23252c;
  box-shadow: 0px 0px 3px black;
}

.attachment-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  margin-right: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  background-color: #1f2026;
}

.attachment-icon:hover {
  background-color: #2f313a;
}

.chat-input {
  flex: 1;
  padding-left: 20px;
  border: none;
  height: 100%;
  outline: none;
  color: #f2f2f2;
  /* color: var(--cement); */
  caret-color: white;
  background-color: transparent;
}

.send-message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.send-message-icon:hover {
  background-color: #1f2026;
}

.current-user-info {
  display: flex;
  align-items: center;
}

.current-username {
  margin-left: 15px;
  font-size: 28px;
}

.user-avatar {
  cursor: pointer;
}

.user-loading {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cement);
}

.no-messages-yet {
  font-size: 48px;
  margin-top: 40px;
  text-align: center;
}

.empty-room {
  position: absolute;
  color: var(---dsblue);
  background-color: var(--elephant);
  text-align: center;
  padding: 20px;
  margin: 10%;
  font-size: 20px;
  font-weight: 500;
}

.chat-messages {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(100% - 105px);
}

.chat-message {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}

.message-image {
  width: 250px;
}

.message-avatar {
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 24px;
  margin-right: 15px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #4d515d;
}

.chat-message-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.message-author {
  font-size: 24px;
}

.message-content {
  padding-left: 25px;
}

.message-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.profile-box-item {
  background-color: var(--elephant);
  padding: 8px;
}

.profile-box-content {
  flex: 1;
  padding: 8px;
  display: flex;
  color: var(--cyan);
  align-items: center;
  justify-content: flex-start;
}

.profile-box-preview {
  margin-left: 10px;
}

.profile-box-email {
  font-size: 12px;
}

.profile-box-username {
  font-size: 20px;
}

.profile-box-icon {
  padding: 16px 0 0 8px;
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.profile-box-icon span {
  font-size: 8px;
  padding: 0 4px;
  text-transform: uppercase;
  transform: translateY(-8px);
  color: var(--cyan);
  cursor: default;
}

.user-loading {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-box-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.profile-box-avatar___icon {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.code-modal {
  position: fixed;
  margin: 10vh 0;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

@media (min-width: 768px) {
  .code-modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.code-form {
  width: 500px;
  padding: 25px;
  max-width: 100%;
  border-radius: 10px;
  background-color: var(--cement);
  box-shadow: 0px 0px 10px var(--black);
  z-index: 200;
}

.code-form label {
  display: block;
  margin-bottom: 25px;
}

.code-form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.code-form select {
  padding: 5px;
  margin: 0 12px;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.code-form textarea {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.code-form button {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: var(--elephant);
  cursor: pointer;
  background-color: var(--cyan);
}

.code-form button:hover {
  box-shadow: 0px 0px 3px black;
}

.code-form button:disabled {
  color: darkgray;
  cursor: not-allowed;
  background-color: #808080;
}

.code-form-buttons button {
  margin-left: 16px;
}

/* Code Snippet */

.code-wrapper {
  width: fit-content;
  min-width: 20%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 0.5em;
  color: var(--elephant);
  background-color: var(--darkpink);
}

.code-parent {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.copy-button-holder {
  position: absolute;
  right: 4px;
  top: 16px;
  font-size: 20px;
  background: transparent;
  border: none transparent;
  color: #f4f4f4;
}

.copy-button-holder:hover {
  color: var(--cyan);
  cursor: pointer;
}

.copy-button-holder:active {
  color: var(--darkpink);
  cursor: pointer;
}
